@charset "UTF-8";
/*колір палитры
 --текст лого Raleway
 --текст основний Roboto
 --колір лого #2196f3
 --колір частини лого хедер #000000
 --колір частини лого footer #ffffff
 --колыр іконок #AFB1B8;
 --колір фону іконок в футері rgba(255, 255, 255, 0.1);
 --колір основний тексту #757575
 --колір навигації заголовку #212121
 --колір акценту синій #2196F3
 --білий #FFFFFF;
 --колір посилань в footer rgba(255, 255, 255, 0.6)
-- колір bgd header #ffffff
-- колір bgd первинний #ffffff 
-- колір bgd вторинний #F5F4FA
-- колір bgd hero, footer #2F303A 
-- колір bgd активної кнопки #188CE8; */
:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --logo-primary-text: #2196f3;
  --logo-header-text: #000000;
  --logo-footer-text: #ffffff;
  --icon-color: #afb1b8;
  --bgd-color-icon-footer: rgba(255, 255, 255, 0.1);
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text: #2196f3;
  --text-color-footer: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --bgd-primary: #ffffff;
  --bgd-secondary: #f5f4fa;
  --bgd-hero: #2f303a;
  --bgd-btn-active: #188ce8;
}

.form-check__contract, .work-list__card, .address__link, .address__footer, .client__link, .mob-nav--email, .mob-nav--tel, .mob-nav__subtitle, .header-page__auth-item, .header-page__subtitle, .logo {
  text-decoration: none;
}

.work-list__card, .work-list, .address__nav, .client__list, .team__list, .classes__list, .work__list, .painting__list, .mob-nav--social, .mob-nav__auth, .mob-nav, .header-page__auth-nav, .header-page__site-nav, .menu-button, .block-social__link, .social-card__list, .block-social__list, .social-card {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-page {
  margin: 0 auto 0 auto;
  padding: 0 15px 0 15px;
}
@media screen and (min-width: 480px) {
  .header-page {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header-page {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header-page {
    width: 1200px;
  }
}

.painting, .work, .client, .team, .classes {
  padding: 60px 0 60px 0;
}
@media screen and (min-width: 1200px) {
  .painting, .work, .client, .team, .classes {
    padding: 94px 0 94px 0;
  }
}

.client, .team, .classes {
  text-align: center;
}

.client__caption, .team__caption, .classes__caption, .work__caption {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .client__caption, .team__caption, .classes__caption, .work__caption {
    margin: 0 0 50px 0;
    font-size: 36px;
    line-height: 1.17;
  }
}

.block-social__list, .social-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-social__item, .social-card__item {
  width: 44px;
  height: 44px;
}
.block-social__item:not(:last-child), .social-card__item:not(:last-child) {
  margin-right: 10px;
}

.block-social__link, .social-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.block-social__link:hover, .social-card__list:hover, .block-social__link:focus, .social-card__list:focus {
  background-color: var(--accent-text);
}

.block-social__icon, .social-card__icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-card__list:hover .block-social__icon, .social-card__list:hover .social-card__icon, .social-card__list:focus .block-social__icon, .social-card__list:focus .social-card__icon {
  fill: var(--logo-footer-text);
}

.join__title, .join, .block-social__title {
  display: block;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-text);
}
@media screen and (max-width: 767px) {
  .join__title, .join, .block-social__title {
    margin: 0 0 20px 0;
  }
}
@media screen and (min-width: 1200px) {
  .join__title, .join, .block-social__title {
    margin: 0 auto 20px 0;
  }
}

.form-check__icon--on, .form-check__icon--off {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 7px;
  fill: var(--title-text-color);
}

.form-check__input, .painting__title, .work__caption {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--bgd-primary);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*page portpholio*/
.page-portfolio {
  background: var(--bgd-primary);
}

/*style logo header and footer*/
.logo {
  display: block;
  margin-right: auto;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--logo-primary-text);
}
.logo--header {
  color: var(--logo-header-text);
}
.logo--footer {
  color: var(--logo-footer-text);
}
@media screen and (min-width: 768px) {
  .header-page > .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header-page > .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.2;
  }
}

/* style header */
.header-page {
  position: relative;
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 10px 15px 10px 0;
  border: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

/* style navigation tablet-laptop*/
.menu-tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-page__site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-page__site-nav .header-page__item--nav:not(:last-child) {
  margin-right: 50px;
}

.header-page__subtitle {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-page__subtitle:hover, .header-page__subtitle:focus {
  color: var(--accent-text);
}

.corrent {
  color: var(--accent-text);
}
@media screen and (min-width: 768px) {
  .corrent {
    position: relative;
    display: inline-block;
  }
  .corrent::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background: var(--accent-text);
    border-radius: 2px;
  }
}

.header-page__auth-nav {
  margin-left: 96px;
  display: block;
}
@media screen and (min-width: 1200px) {
  .header-page__auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 315px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-page__auth-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: var(--white-text);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-page__auth-item:hover svg, .header-page__auth-item:focus svg {
  fill: var(--accent-text);
}
.header-page__auth-item:hover, .header-page__auth-item:focus {
  color: var(--accent-text);
}

.header-page__auth-icon {
  margin-right: 8px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200) {
  .header-page__auth-icon {
    margin-right: 10px;
  }
}

.header-page__item--auth + .header-page__item--auth {
  margin-top: 10px;
}
@media screen and (min-width: 1200px) {
  .header-page__item--auth + .header-page__item--auth {
    margin-top: 0;
    margin-left: 30px;
  }
}

/* style for mobile menu*/
.menu-container {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 48px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  z-index: 80;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: none;
  }
}

.menu__cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--bgd-primary);
}

.menu__cross-icon {
  fill: var(--logo-header-text);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__cross:hover .menu__cross-icon, .menu__cross:focus > .menu__cross-icon {
  fill: var(--accent-text);
}

.mob-nav__item + .mob-nav__item {
  margin-top: 32px;
}

.mob-nav__subtitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-nav__subtitle:hover, .mob-nav__subtitle:focus {
  color: var(--accent-text);
}
.mob-nav__subtitle.corrent {
  color: var(--accent-text);
}

.mob-nav__auth {
  margin: auto 0 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-nav__auth-item + .mob-nav__auth-item {
  margin-top: 32px;
}

.mob-nav--tel {
  font-size: 34px;
  line-height: 1.18px;
  color: var(--accent-text);
}

.mob-nav--email {
  color: var(--primary-text-color);
}

.mob-nav--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 64px 0 0 0;
  padding: 0;
}

.link-social {
  padding: 0 10px 0 10px;
  min-width: calc((100% - 30px) / 4);
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text);
  cursor: pointer;
}
.link-social:first-child {
  text-align: left;
  padding-left: 0;
}
.link-social:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

/*style hero*/
.hero {
  margin: 0 auto 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  min-width: 320px;
  height: 400px;
  text-align: center;
  letter-spacing: 0.06em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-480-1x.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-480-1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--bgd-hero);
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0 200px 0;
    height: 600px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-480-2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-480-2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-768-1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-768-1x.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-768-2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-768-2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header-1200-1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header-1200-1x.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header_1200-2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header_1200-2x.jpg");
  }
}

.hero__title {
  margin: 0 auto 30px auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

/* style button */
.button {
  display: inline-block;
  padding: 10px 24px;
  min-width: 216px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--logo-primary-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 10px 32px;
  }
}
.button:hover, .button:focus {
  background-color: var(--bgd-btn-active);
}

/*page portpholio*/
.painting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .painting__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }
}

.painting__item + .painting__item {
  margin-left: 8px;
}

.painting__button {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--bgd-secondary);
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.painting__button:hover, .painting__button:focus {
  color: var(--white-color);
  background-color: var(--accent-text);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* style working */
@media screen and (min-widh: 1200) {
  .work {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.work__item {
  display: block;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .work__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .work__item {
    margin-bottom: 0;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .work__item {
    width: calc((100% - 90px) / 4);
  }
}

.work__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--bgd-secondary);
}
.work__icon:hover svg {
  fill: var(--accent-text);
}
.work__icon--svg {
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .work__title {
    text-align: start;
  }
}

.work__text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
  color: var(--primary-text-color);
  line-height: 1.71;
}

/* style classes */
.classes {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .classes {
    display: none;
  }
}

.classes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.classes__item {
  width: calc((100% - 60px) / 3);
}
.classes__item + .classes__item {
  margin-left: 30px;
}
.classes__list > .classes__item {
  position: relative;
}

.classes__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--logo-footer-text);
  text-transform: uppercase;
}

/*style team*/
.team {
  background-color: var(--bgd-secondary);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  background-color: var(--bgd-primary);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team-card {
    padding-bottom: 30px;
  }
}

.team-card__name {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team-card__direction {
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 1.19;
}

.social-card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* style clients */
.client__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 180px) / 6);
  }
}

.client__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .client__link {
    padding: 16px 32px;
  }
}
.client__link:hover, .client__link:focus {
  border-color: var(--accent-text);
}

.client__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--accent-text);
}

/* style footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgd-hero);
  color: var(--text-color-footer);
}

.cont-footer {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .cont-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.cont-footer--tablet {
  margin: 0 0 60px 0;
}
@media screen and (min-width: 768px) {
  .cont-footer--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .cont-footer--tablet {
    margin: 0;
  }
}

.block-address {
  margin: 0 0 60px 0;
}
@media screen and (min-width: 768px) {
  .block-address {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .block-address {
    margin: 0 70px 0 0;
    text-align: start;
  }
}

.address {
  margin-top: 20px;
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 2;
}

.address__item + .address__item {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item + .address__item {
    margin-top: 9px;
  }
}

.address__footer {
  color: var(--white-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__footer:hover, .address__footer:focus {
  color: var(--accent-text);
}

.address__link {
  color: var(--text-color-footer);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-text);
}

/* style cont-social */
.block-social__title {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .block-social__title {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .block-social__title {
    text-align: start;
  }
}

.block-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-social__item {
  border-radius: 50%;
  background-color: var(--bgd-color-icon-footer);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.block-social__item:hover, .block-social__item:focus {
  background-color: var(--accent-text);
}

.block-social__icon {
  fill: var(--logo-footer-text);
}

/* style join */
.join {
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .join {
    text-align: start;
    margin: 0 0 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .join__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .join__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.join__input {
  padding: 15px 16px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  background: var(--bgd-hero);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .join__input {
    min-width: calc(100% - 30px);
  }
}
@media screen and (min-width: 480px) {
  .join__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .join__input {
    margin-right: 12px;
    width: 358px;
    height: 50px;
  }
}

.join__input:-moz-placeholder-shown {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.join__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.join__input:placeholder-shown {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.join__input:focus,
.join__input:hover {
  border: 1px solid var(--accent-text);
}

.join__form .join__telegram {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 28px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--logo-primary-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .join__form .join__telegram {
    margin: 20px auto 0 auto;
  }
}

.join__form .join__telegram:hover,
.join__form .join__telegram:focus {
  background-color: var(--bgd-btn-active);
}

.join__form .join__telegram svg {
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--logo-footer-text);
}

/*page portpholio*/
@media screen and (min-width: 768px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .work-list__item {
    width: calc((100% - 60px) / 2);
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .work-list__item {
    width: calc((100% - 90px) / 3);
  }
}

.work-list__card {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list__card:hover, .work-list__card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list__image {
  width: 100%;
}

.work-list__details {
  position: relative;
  overflow: hidden;
}

.work-list__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list__card:hover .work-list__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work-list__block {
  padding: 20px 24px;
}

.work-list__title {
  margin: 0 0 4px 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.work-list__direction {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

/* style modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  padding: 94px 15px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 20px);
  background: var(--bgd-primary);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    padding: 40px 39px 40px 41px;
    margin: 0;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    padding: 40px;
  }
}

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--bgd-primary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__icon {
  fill: var(--logo-header-text);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover > .modal__icon, .modal__close:focus > .modal__icon {
  fill: var(--accent-text);
}

.modal__titel {
  padding: 0;
  margin: 0 0 12px 0;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.modal-form__element:nth-child(-n+3) {
  margin-bottom: 10px;
}
.modal-form__element:nth-child(n+4) {
  margin-bottom: 20px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__wrap {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover + .modal-form__icon, .modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-text);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: none;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover, .modal-form__input:focus {
  outline-color: var(--accent-text);
}

.modal-form__commit {
  padding: 12px 16px;
  resize: none;
  border: none;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__commit:-moz-placeholder-shown {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__commit:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__commit:placeholder-shown {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__commit:hover, .modal-form__commit:focus {
  outline-color: var(--accent-text);
}

.form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-check__label {
  position: relative;
  margin-bottom: 20px;
  min-width: 24px;
  display: block;
  height: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form-check__text {
  padding-left: 24px;
}

.form-check__contract {
  color: var(--accent-text);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--accent-text);
          text-decoration-color: var(--accent-text);
}

.form-check__icon--off {
  opacity: 1;
  fill: var(--accent-text);
}
.form-check__input:checked ~ .form-check__icon--off {
  opacity: 0;
}

.form-check__icon--on {
  opacity: 0;
}
.form-check__input:checked ~ .form-check__icon--on {
  opacity: 1;
  fill: var(--accent-text);
}

.btn-submit {
  display: block;
  padding: 0;
  /* align-items: center;
  text-align: center; */
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--accent-text);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.btn-submit:hover,
.btn-submit:focus {
  background: var(--bgd-btn-active);
}/*# sourceMappingURL=main.css.map */