/* style header */
.header-page {
  @extend %container;
  position: relative;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  // align-content: center;
  align-items: center;
  min-height: 60px;
}

.menu-button {
  @extend %list;
  display:inline-flex;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  background-color: transparent;

  width: 40px;
  height: 40px;

  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

/* style navigation tablet-laptop*/

.menu-tablet {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    // justify-content: space-between;
    align-items: center;
  }
}

// .header-page__nav-mob {
//   height: 60px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
.header-page__site-nav {
  @extend %list;
  display: flex;
  // margin-right: 96px;

  // width: 100vw;

  @media screen and (min-width: 1200px) {
    // margin-right: 315px;
  }
}

.header-page__item--nav {
    .header-page__site-nav &:not(:last-child) {
      margin-right: 50px;
    }
}

.header-page__subtitle {
  @extend %link;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover, &:focus {
    color: var(--accent-text);
  }
}

.corrent {
  color: var(--accent-text);

  @media screen and (min-width: 768px) {
    position: relative;
    display: inline-block;

    &::after {
      position: absolute;
      left: 0;
      bottom: -1px;
    
      content: '';
      display: inline-block;
    
      width: 100%;
      height: 4px;
    
      background: var(--accent-text);
      border-radius: 2px;
    }
  }
}

.header-page__auth-nav {
  @extend %list;
  margin-left: 96px;
  display: block;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 315px;
    align-items: center;
  }
}

.header-page__auth-item {
  @extend %link;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  background-color: var(--white-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover svg,
  &:focus svg {
    fill: var(--accent-text);
  }

  &:hover,
  &:focus {
    color: var(--accent-text);
  }
}

.header-page__auth-icon {
    margin-right: 8px;
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200) {
      margin-right: 10px;
    }
}

.header-page__item--auth + .header-page__item--auth {
  margin-top: 10px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 30px;
  }
}


/* style for mobile menu*/
.menu-container {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 48px 40px;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  z-index: 80;

  background-color: var(--white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

  &.is-open {
    display: flex;
    
    @media screen and (min-width: 768px) {
      & {
        display: none;
      }
    }
  }
}

.menu__cross {
  @include centeredFlex();
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: 0;

  box-sizing: border-box;

  background: var(--bgd-primary);
}

.menu__cross-icon {
  fill: var(--logo-header-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .menu__cross:hover &,
  .menu__cross:focus > & {
    fill: var(--accent-text);
  }
}

.mob-nav {
  @extend %list;
}

.mob-nav__item + .mob-nav__item {
  margin-top: 32px;
}

.mob-nav__subtitle {
  @extend %link;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover, &:focus {
    color: var(--accent-text);
  }
}

.mob-nav__auth {
  @extend %list;
  margin: auto 0 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-nav__auth-item + .mob-nav__auth-item {
  margin-top: 32px;
}

.mob-nav--tel {
  @extend %link;
  font-size: 34px;
  line-height: 1.18px;

  color: var(--accent-text);
}


.mob-nav--email {
  @extend %link;
  color: var(--primary-text-color);
}

.mob-nav--social {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin: 64px 0 0 0;
  padding: 0;
}

.link-social {
  // padding: 0 10px;
  padding: 0 10px 0 10px;
  min-width: calc((100% - 3 * 10px) / 4);
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-text);

  &:first-child {
    text-align: left;
    padding-left: 0;
  }

  cursor: pointer;

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}