/*style team*/
.team {
  @extend %section--centered;
  background-color: var(--bgd-secondary);
  padding: 60px 0 60px 0;

  @media screen and (min-width: 1200px){
    padding: 94px 0 94px 0;
  }
}

.team__caption {
  @extend %container__caption;
}

.team__list {
  @extend %list;

  @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  background-color: var(--bgd-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px){
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px){
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team-card__name {
  margin: 0 0 10px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team-card__direction {
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 1.19;
}

.social-card {
  @extend %card-social;
  align-items: center;
  justify-content: center;
}


.social-card__item {
  @extend %card-social__item;
}

.social-card__list {
  @extend %card-social__link;
}

.social-card__icon {
  @extend %card-social__icon;
}